<div class="wrapper" [ngStyle] = "{'flex-direction':changeStyle === true ? 'column' : 'row'}">
  <app-timer *ngFor = "let timer of timers; let i = index" [bgColor]="timer.color" [resetTimer] = "resetAll" (buttonColor)="onGetButtonColor($event, i)" ></app-timer>
</div>

<div class="nav">
  <app-button [value]="'Reset All'" (onClick)="onResetAll()"></app-button>
  <app-button [value]="'Change Style'" (onClick)="onChangeStyle()"></app-button>
  <app-button [value]="'Add'" (onClick)="onAddTimer()" style="display: block"></app-button>
  <app-timerchanger *ngFor = "let time of timers; let index = index" [buttonColor]="time.buttonColor" [buttonId] = "index" (timerColor)="newColor($event, index)" (deleteTimer)="onDeleteTimer(index)"></app-timerchanger>
</div>
