.btn{
  margin: 15px;
  width: 100px;
  height: 30px;
  background-color:#768d87;
  border-radius:5px;
  border:1px solid black;
  color:#ffffff;
  outline: none;
  font-family: Arial, serif;
  font-weight:bold;
  text-decoration:none;
  text-shadow:0 -1px 0 #2b665e;
}

.delete{
  position: relative;
  left: 3px;
}

.color{
  position: absolute;
  margin-left: -98px;
  margin-top: 17px;
}
