<div class="timer" [style.background-color]=bgColor>
  <p class="timerName">{{timerName}}</p>
    <app-input [type]="'text'" [value] = "(second * 1000 | date:'mm:ss') || '00:00'"></app-input>
    <app-button (onClick)="startTimer()" [btnType] = "'start'" [value]="'start'"></app-button>
    <app-button (onClick)="pauseTimer()" [btnType]="'pause'" [value]="'pause'"></app-button>
    <app-button (onClick)="resetTime()" [btnType]="'reset'" [value]="'reset'"></app-button>
    <p *ngIf="timerDescription" class="timer-info-item">{{timerDescription}}</p>
    <p *ngIf="timerComment" class="timer-info-item">{{timerComment}}</p>
</div>
